@charset "UTF-8";
/* 주문 내역 리스트----------------------------------------- */
.listTable{
	width: 100%;
}
.th1 {
	width: 25%;
}
.th2 {
	width: 35%;
}
.th3 {
	width: 15%;
}
.th4 {
	width: 15%;
}
.th5 {
	width: 10%;
}

/* 사이드메뉴 고정----------------------------------------- */
.a2 {
	background-color: rgb(77, 80, 117);
	color: white;
}
.listTable tr>td:nth-child(2) {
	text-align: left;
}

.indent{
	text-indent: 30px;
}