@charset "UTF-8";
/* 주문 내역 리스트----------------------------------------- */
.listTable{
	width: 100%;
}
.th1 {
	width: 20%;
}
.th2 {
	width: 50%;
}
.th3 {
	width: 15%;
}
.th4 {
	width: 15%;
}
.listTable{
	text-align: left;
}

/* 사이드메뉴 고정----------------------------------------- */
.a3{
	background-color: rgb(77, 80, 117);
	color: white;
}

.listTable tr>td:nth-child(2) {
	text-align: left;
}

.indent{
	text-indent: 20px;
}

.red{
	color: red;
}

.textRight{
	text-align: right;
	font-weight: bold;
}
.listTable .linkGo:hover{
	color: black;
	font-weight: bold;
}