 @charset "utf-8";

    @font-face {
        font-family: 'S-CoreDream-3Light';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

a {
                        text-decoration: none;
                        color: #4d5075;
                        display: block;
                        width: 100%;
                        height: 100%;
                    }

                    input[type="text"] {
                        border: none;
                        height: 27px;
                        width: 300px;
                        outline: none;
                    }

                    input[type="submit"],
                    button {
                        width: 70px;
                        background: #4d5075;
                        color: white;
                        border: 1px solid #4d5075;
                        box-sizing: border-box;
                        line-height: 27px;
                        cursor: pointer;
                    }

                    #main_sub {
                        display: flex;

                    }

                    #main_search {
                        display: block;
                        width: 50%;
                    }

                    #main_crud {
                        display: block;
                        text-align: right;
                        width: 50%;
                    }

                    #main_crud>input[type="button"] {
                        height: 32px;
                        background: #4d5075;
                        color: white;
                        border: 1px solid #4d5075;
                        box-sizing: border-box;
                        line-height: 27px;
                        cursor: pointer;
                    }

                    table tr>td {
                        text-align: left;

                    }

                    table tr>th {
                        text-align: right;
                        width: 150px;
                    }

                    tr>th{
                        width: 150px;
                        background-color: #4d5075;
                    }


                    #class_add_form {
                        width: 80%;
                        margin: 0 auto;
                        margin-top: 50px;
                        margin-bottom: 50px;
                        box-shadow: 10px 10px 5px grey;
                    }

                    #class_add_form input[type="text"] {
                        width: 100%;
                        text-align: left;
                    }

                    #main_content {
                        background-color: #fdf4f4;
                    }
                    
                    *>tr>th:first-child{
                        background-color: #f7b8b4;
                        color:#4d5075;
                    }
                    
                    tr{
                        border: #f7b8b4;
                    }
                    
                    textarea,input[type="text"]{
                        outline: none;
                    }